:root{
    --primary-color:#F3EED9;
    --secondary-color:#824936;
    --tertiary-color: #222C2A;
}

*,::after,::before{
    box-sizing: border-box;
    /* font-family: 'Playfair Display', serif; */
    /* font-family: 'Roboto', sans-serif; */

}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
}

.container{
    /* border: 2px solid red; */
    width: 80%;
    max-width: 1128px;
    margin: 0 auto;
    padding: 2rem;
}

.hero{
    background-color: var(--primary-color);
    
}
.hero>.container{
    /* color: blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 900px;
    /* border: 1px solid red; */
    padding:4rem;
}

.subtitle{
    margin-bottom: 0;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: var(--tertiary-color);
    letter-spacing:3px;

}

.title{
    margin-top: 0;
    color: var(--secondary-color);
    font-family: 'Playfair Display', serif;
    font-size: 60px;
}

.row{
    display: flex;
}

.col{
    width: 50%;
}

.col + .col{
    margin-left: 2rem;
}

.txt-title{
    text-align: center;
    color: var(--secondary-color);
    font-family: 'Playfair Display', serif;
    font-size: 36px;

}

.white-section{
    color:var(--tertiary-color);
}

.image-section-1{
    background-color: var(--tertiary-color);
}

.image-section-1>.row{
    color:#fff;
}

img {
    max-width: 100%;
}

.image-section-2{
    background-color: var(--secondary-color);
    color:#fff;
}
