*, ::after,::before{
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body{
    font-family: sans-serif;
    font-size: 1.2rem;
    padding: 0;
    margin: 0;
}

header{
    background-color: #146265;
    color: #FFF;
}

.container3{
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
    /* padding: 10px 0; */
    margin-bottom: 1rem;
    /* border: 1px solid red; */
}

.row3{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__list3{
    display: flex;
    margin: 0;
    align-items: center;

}

.nav-items3{
    list-style-type: none;
    padding: 1rem;
    text-transform: uppercase;
    align-items: center;
    
}

.nav-items3:hover, .nav-items3:focus{
    background-color: #104c4e;
} 

.nav-items3 > a{
    color:#FFF;
    text-decoration: none;

}

.btn3{
    border: none;
    color: #2d525c;
    padding: 5px 15px;
    font-size: 1.2rem;
    border-radius: 50px;
    text-transform: uppercase;
}

.logo{
    padding: 0.6rem;
}
.logo:hover{
    background-color: #104c4e;
}