*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.parent{
    background-color: #23424A;
    padding: 50px;
    
    /* Kills responsiveness */
    /* width: 900px;  */
    
    /* Not setting width is also responsive */

    /* Percentages are responsive */
    width: 80%;

}

.child{
    background-color: #38cfd9;
    height: 250px;

    /* means 50% of parent */
    /* Overflow can happen if text inside child is long. */
    width: 50%;
}