:root{
    --lg-font-size:48px;
    --normal-font-size:21px;
    --primary-font-family:'Roboto', sans-serif;
}

*{
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body{
    margin: 0;
    font-family: var(--primary-font-family);
    font-size: var(--normal-font-size);
}

.container{
    background-color: #23424A;
    color: white;

    padding: 4rem;
    
}

.lg-font{
    font-size: var(--lg-font-size);
    font-weight: 900;
}

.md-font{
    font-size: var(--normal-font-size);
    font-weight: bold;
}

.inner-container{
    max-width: 600px;
    /* margin: 0 auto; */
}

.btn{
    background-color: #38CFD9;
    color: #23424A;
    border: none;
    border-radius: 50px;
    padding: 1em 2em;
    margin-top: 2rem;
}